[alias]
	co = checkout
	st = status
	ci = commit
	up = pull -v
	logs = log --stat --decorate
	lastcommit = log --stat --decorate -n 1
	pop = stash pop
	me = log --author="jonursenbach" --after=yesterday --no-merges --reverse
	pushup = push origin master
	pushtag = push origin master
	pushtags = push origin master --tags
	diffs = diff --staged
[user]
	email = lorderunion@gmail.com
	name = jonursenbach
[branch]
	autosetuprebase = always
