[alias]
	st = status
	ci = commit
	up = pull -v
	logs = log --stat --decorate
	lastcommit = log --stat --decorate -n 1
	pop = stash pop
[user]
	email = lorderunion@gmail.com
	name = jonursenbach
[branch]
	autosetuprebase = always
